body{padding:0;margin:0}
.container{
    display: flex;
    height: 100vh;
}
.main{
    display: flex;

}
.header,.footer{
    height: 10vh;
    background: rgb(240, 230, 140);
    padding: 15px;
}
.artikel, .asside{
    height: 60vh;
    padding: 15px;
}
.nav{
    height: 89vh;
    width: 20vh;
    background: #FFB6C1;
}
.content{
    width: 100%;
}
.artikel{
    width: 70%;
}
.asside{
    width: 30%;
    background: rgb(62, 254, 255);
}
.p15{
    padding: 15px;
}